SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
* * * * * root	/usr/bin/docker compose -p {{COMPOSE_PROJECT_NAME}} exec moodle-app bash -c "/usr/local/bin/cron-moodle.sh"
