#####################################################################
## configuracoes do projeto - configurado via cctl init/install    ##
#####################################################################
CLIENT_NAME=_CLIENT_NAME_
COMPOSE_PROJECT_NAME=_COMPOSE_PROJECT_NAME_
DOMAIN_NAME=_DOMAIN_NAME_
DSPACE_DISPLAY_NAME=_DSPACE_DISPLAY_NAME_
POSTGRES_PASSWORD=_POSTGRES_PASSWORD_
COMPOSE_PROJECT_SUBNET=10.88.0.0/24
###################################
## container dspace-angular (UI) ##
###################################
FRONTEND_MEMORY_LIMIT=2G
FRONTEND_CPU_LIMIT=1
UI_FRONTEND_PORT=4000
#############################
## container dspace (REST) ##
#############################
DSPACE_MEMORY_LIMIT=2G
DSPACE_CPU_LIMIT=2
DSPACE_SERVER_PORT=8080
DSPACE_HANDLE_SERVERS_PORT=8000
#########################
## container dspacedb  ##
#########################
POSTGRESQL_MEMORY_LIMIT=512M
POSTGRESQL_CPU_LIMIT=0.5
POSTGRESQL_PORT=5432
############################
## container dspacesolr   ##
############################
APACHE_SOLR_MEMORY_LIMIT=2G
APACHE_SOLR_CPU_LIMIT=2
APACHE_SOLR_PORT=8983
###################################################
## configuracao do ambiente dspace - nao alterar ##
###################################################
DOCKER_OWNER=ghcr.io/diegobianchetti/dspace
DSPACE_VER=9.2.1
SOLR_VER=9.8.1
JDK_VERSION=17
DSPACE_PROTOCOL=http
DSPACE_SSL=false
DSPACE_UI_SSL=false
DSPACE_REST_SSL=false
