server {
	listen 80;
	listen [::]:80;
	server_name {{DOMAIN_NAME}};

	if ($block_uri_pattern) { return 444; }
	if ($block_ip)          { return 444; }

	include /etc/nginx/conf.d/error-pages.conf;

	location / {
		resolver 127.0.0.11;
		set $target moodle-app:80;
		proxy_pass http://$target;
		proxy_set_header        Host                    $http_host;
		proxy_set_header        X-Real-IP               $remote_addr;
		proxy_set_header        X-Forwarded-Host        $host;
		proxy_set_header        X-Forwarded-Server      $host;
		proxy_set_header        X-Forwarded-For         $proxy_add_x_forwarded_for;
		proxy_cookie_path       / "/; HttpOnly; SameSite=strict";
		client_max_body_size    5G;
		proxy_read_timeout      60m;
		send_timeout            60m;
		proxy_connect_timeout   60m;
	}

	access_log  /var/log/nginx/{{COMPOSE_PROJECT_NAME}}-access-moodle.log;
	error_log   /var/log/nginx/{{COMPOSE_PROJECT_NAME}}-error-moodle.log;
}
