#####################################################################
## configuracoes do projeto - configurado via cctl init/install    ##
#####################################################################
CLIENT_NAME=_CLIENT_NAME_
COMPOSE_PROJECT_NAME=_COMPOSE_PROJECT_NAME_
DOMAIN_NAME=_DOMAIN_NAME_
POSTGRESQL_PASSWORD=_POSTGRESQL_PASSWORD_
MOODLE_ADMIN_PASSWORD=_MOODLE_ADMIN_PASSWORD_
## configurado via cctl install ##
COMPOSE_PROJECT_SUBNET=172.32.1.0/24
## Tempo de retencao do backup (dump do banco) em dias
BKP_RETENTION_DAYS=3
##########################
## container moodle-app ##
##########################
MOODLE_APP_MEMORY_LIMIT=2G
MOODLE_APP_CPU_LIMIT=2
MOODLE_APP_HTTP_PORT=8080
MOODLE_APP_HTTPS_PORT=8443
MOODLE_APP_IMAGE=moodle-app
MOODLE_APP_TAG=4.5.8-alpine-3.22.1
## configuracoes PHP - container moodle-app
PHP_MEMORY_LIMIT=256M
PHP_POST_MAX_SIZE=2048M
PHP_UPLOAD_MAX_FILESIZE=2048M
PHP_MAX_INPUT_VARS=20000
PHP_MAX_EXECUTION_TIME=300
#########################
## container moodle-db ##
#########################
MOODLE_DB_MEMORY_LIMIT=2G
MOODLE_DB_CPU_LIMIT=1
MOODLE_DB_PORT=5432
MOODLE_DB_IMAGE=moodle-db
MOODLE_DB_TAG=postgres-17.9-debian-trixie-slim
###################################################
## configuracao do ambiente moodle - nao alterar ##
###################################################
DOCKER_OWNER=ghcr.io/diegobianchetti/moodle
